.auth {
  display: flex;
  gap: 20px;
  padding: 0 20px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: rgb(221, 221, 221);
  transition: color 0.2s ease-out;
}

.link:hover {
  color: white;
}

@media (max-width: 1200px) {
  .auth {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .auth {
    display: none;
  }
}
