.categoriesList {
  margin-bottom: 40px;
}

.slide {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.1em;
  text-transform: uppercase;
  float: left;
  margin-left: 5px;
}

.image {
  width: 100%;
  height: 100%;
  max-height: 405px;
  max-width: 304px;
}

@media (max-width: 767px) {
  .title {
    font-size: 1em;
  }
}
