services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: always
    env_file: .env.docker.prod
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  redis:
    image: redis:7-alpine
    container_name: nest_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server
    restart: always
    depends_on:
      - postgres
      - redis
    env_file:
      - ./server/.env.production
    ports:
      - "5000:5000"
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client
    ports:
      - "3000:3000"
    depends_on:
      - server
volumes:
  postgres_data:
  redis_data:
