.product {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(194, 194, 194);
  padding: 20px 0;
}

.product:last-child {
  border: 0;
}

.flexPart {
  display: flex;
  gap: 20px;
}

.image > img {
  border-radius: 3px;
  width: 100%;
}

.name {
  font-size: 20px;
  padding-bottom: 10px;
  display: block;
  color: black;
  text-decoration: none;
}

.name:hover {
  text-decoration: underline;
}

.additionalInfo {
  font-size: 0.9em;
  color: rgb(114, 114, 114);
}

.additionalInfo > span {
  color: black;
}

.price {
  font-size: 1.1em;
  font-weight: bold;
}

@media (max-width: 467px) {
  .product {
    flex-direction: column;
  }
}
