.orders {
  width: 60%;
  margin: 20px auto;
}

.title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.order__date {
  font-size: 26px;
  font-weight: 600;
  margin-top: 30px;
  padding-bottom: 15px;
}

.order__status {
  font-size: 18px;
  text-decoration: underline;
  font-weight: 600;

  padding-bottom: 15px;
}

.showProductsBtn {
  color: blue;
  cursor: pointer;
  width: fit-content;
}

.showProductsBtn:hover {
  color: rgb(0, 0, 71);
}

.order__products {
  width: 100%;
  background-color: rgb(216, 216, 216);
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 1px solid gray;
  box-sizing: border-box;
}

.product {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(194, 194, 194);
  padding: 20px 0;
}

.product:last-child {
  border: 0;
}

.flexPart {
  display: flex;
  gap: 20px;
}

.product__image {
  width: 60px;
}

.product__image > img {
  width: 100%;
}

.product__name {
  font-size: 20px;
  padding-bottom: 10px;
  display: block;
  color: black;
  text-decoration: none;
}

.product__name:hover {
  text-decoration: underline;
}

.product__additionalInfo {
  font-size: 14px;
  color: rgb(114, 114, 114);
}

.product__additionalInfo > span {
  color: black;
}

.product__priceBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-right: 30px;
}

.product__price {
  background-color: var(--templatePurple);
  color: white;
  padding: 3px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}

.product__priceOld {
  font-size: 20px;
  color: gray;
  width: fit-content;
  position: relative;
}

.product__priceOld > span::after {
  background-color: #e41a2a;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0px;
  transform: rotate(-4deg);
}

.product__quantity > input {
  width: 100px;
  height: 30px;
  outline: none;
  text-align: center;
}

.product__quantity > label {
  display: block;
  text-align: center;
}

.product__delete > img {
  width: 28px;
  margin-top: 4px;
  cursor: pointer;
}

.product__delete > img:hover {
  opacity: 0.9;
}
