.navbar {
  width: 100vw;
  height: 100vh;
  background: rgba(39, 39, 39, 0.521);
  position: fixed;
  top: 83px;
  z-index: 1200;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.navbar.open {
  opacity: 1;
  pointer-events: auto;
}

.menu {
  width: 300px;
  height: 100vh;
  background: white;
  padding: 25px;
  box-sizing: border-box;
  transition: transform 0.2s ease-in;
  transform: translateX(-400px);
  overflow-y: scroll;
}

.menu::-webkit-scrollbar {
  width: 6px;
}

.menu::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: background-color 0.3s;
}

.menu::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.menu {
  scrollbar-width: thin; /* Тонкий скроллбар */
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1); /* цвет ползунка и фона */
}

.menu.open {
  transform: translateX(0);
}

.back {
  width: fit-content;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.8em;
  gap: 2px;
  cursor: pointer;
}

.categories {
  font-size: 1.1em;
  margin-top: 15px;
}

.list {
  list-style-type: none;
  padding-left: 0;
  text-transform: none;
  margin-top: 0;
}

.list.main {
  text-transform: uppercase;
}

.list.main > li {
  margin: 10px 0;
}

.list > li {
  padding: 5px 0;
  cursor: pointer;
}

.toggleIcon {
  background-size: contain;
  width: 22px;
  height: 22px;
  background-image: url("/images/bottom-arrow.png");
  transition: background-image 0.3s ease;
  background-repeat: no-repeat;
  transition: transform 0.2s ease;
  transform: scaleY(1);
}

.toggleIcon.reverse {
  transform: scaleY(-1);
}

.second {
  padding-left: 15px;
  font-weight: normal;
  font-size: 0.9em;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.5s ease;
  opacity: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list.show {
  display: block;
  max-height: 500px;
  opacity: 1;
}

.auth {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.authElement {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .menu {
    width: 350px;
  }
}
