.title {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.date {
  font-size: 1.6em;
  font-weight: 600;
  margin-top: 30px;
}

.status {
  font-size: 1.2em;
  padding-bottom: 15px;
}

.status > span {
  font-weight: 600;
  text-decoration: underline;
}

.showProductsBtn {
  color: blue;
  cursor: pointer;
  width: fit-content;
}

.showProductsBtn:hover {
  color: rgb(0, 0, 71);
}

.products {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(214, 214, 214);
}
