.dropArea {
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
  background: #fafafa;
}

.previewElement {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.previewImageContainer {
  width: 120px;
  cursor: zoom-in;
  margin-right: 10px;
}

.image {
  width: 100px;
  height: auto;
  margin-right: 10px;
  border-radius: 8px;
}

.deleteBtn {
  background: red;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
}

.dragged {
  border-color: var(--templatePurple);
  background-color: rgb(231, 231, 231);
}
