.summary {
  width: 30%;
  box-sizing: border-box;
  padding: 0 15px;
  border-left: 1px solid rgb(228, 228, 228);
}

.description {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  width: 100%;
}

.productName {
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 40px;
}

.finalCost {
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 15px;
}

.currentCost {
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  background-color: var(--templatePurple);
}

.oldCost {
  font-size: 1.1em;
  text-decoration: line-through;
  color: #757575;
}

.additional {
  display: flex;
  gap: 20px;
}

.productProperty {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.productProperty > img {
  width: 26px;
}

.cartButton {
  width: 100%;
  border: 0;
  text-align: center;
  font-size: 1.2em;
  box-sizing: border-box;
  padding: 13px 10px;
  border-radius: 5px;
  color: white;
  background-color: var(--templatePurple);
  margin-top: 40px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  transition: background 0.2s ease-out;
}

.cartButton.disabled {
  background-color: #a377fc;
  cursor: not-allowed;
}

.cartButton:not(.disabled):hover {
  background: #7839f7;
}

@media (max-width: 992px) {
  .summary {
    width: 100%;
    padding-top: 15px;
    border-left: 0;
  }

  .productName {
    margin-bottom: 15px;
  }

  .cartButton {
    width: 50%;
    font-size: 1em;
  }
}

@media (max-width: 767px) {
  .sizes {
    grid-template-columns: repeat(4, 1fr);
  }

  .cartButton {
    width: 100%;
    margin-top: 15px;
  }
}
