.create {
  max-width: 1400px;
  margin: 0 auto;
}

.title {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 20px;
}

.form {
  padding-bottom: 20px;
}

.formsCollection {
  display: flex;
  gap: 10px;
}

.char {
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  gap: 20px;
}
