.search {
  width: 35%;
}

.fieldContainer {
  position: relative;
}

.field {
  width: 100%;
  font-size: 1em;
  box-sizing: border-box;
  padding: 12px 32px 12px 10px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
  outline: none;
  letter-spacing: 0.5px;
}

.field:focus {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border: 1px solid rgb(160, 160, 160);
}

.fieldContainer > svg {
  position: absolute;
  right: 5px;
  top: 9px;
  color: rgb(92, 92, 92);
  cursor: pointer;
}

.searchBlur {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 83px;
  left: 0;
  background-color: #27272746;
}

.searchContainer {
  position: absolute;
  background: white;
  color: rgb(49, 49, 49);
  width: 100%;
  box-sizing: border-box;
  padding: 15px 10px;
  z-index: 999;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.element {
  cursor: pointer;
  display: flex;
  gap: 10px;
  font-size: 1.2em;
}

.element:hover {
  color: black;
}

.element > svg {
  margin-top: 2px;
}

@media (max-width: 1200px) {
  .search {
    width: 75%;
  }
}

@media (max-width: 479px) {
  .search {
    font-size: 0.8em;
    width: 85%;
  }

  .fieldContainer > svg {
    top: 7px;
  }
}
