.main {
  max-width: 1600px;
  margin: 0 auto;
}

.title {
  font-size: 2em;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-align: center;
}
