.productInfo {
  width: 70%;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  box-sizing: border-box;
  padding: 15px;
}

.about {
  width: 40%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-weight: 700;
}

.characteristics {
  width: 40%;
}

.characteristicsTable {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.characteristic {
  width: 50%;
  margin-bottom: 25px;
}

.characteristic__name {
  color: #757575;
  margin-bottom: 10px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .productInfo {
    flex-direction: column;
    gap: 0;
  }

  .about {
    width: 100%;
  }

  .characteristics {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .productInfo {
    width: 100vw;
  }

  .description > p {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .characteristics {
    padding-top: 15px;
  }

  .characteristic {
    width: 100%;
  }

  .about {
    width: 100%;
    margin-right: 0;
  }

  .description > p {
    margin-top: 5px;
  }
}
