.orders {
  max-width: 1600px;
  margin: 20px auto;
  padding: 0 10px;
}
.title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.order__date {
  font-size: 26px;
  font-weight: 600;
  margin-top: 30px;
}
.order__status {
  font-size: 18px;
  text-decoration: underline;
  font-weight: 600;

  padding-bottom: 15px;
}
.showProductsBtn {
  color: blue;
  cursor: pointer;
  width: fit-content;
}
.showProductsBtn:hover {
  color: rgb(0, 0, 71);
}
.order__products {
  width: 100%;
  background-color: rgb(216, 216, 216);
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 1px solid gray;
}
