.productSlider {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.mainSlider {
  width: 100%;
}

.mainSlider__image {
  width: 100%;
  height: 100%;
}

.previewSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 102px;
  padding-left: 15px;
}

.previewImage {
  height: 136px;
  width: 100px;
  cursor: pointer;
  border: 1px solid transparent;
}

.previewImage.active {
  border: 1px solid black;
}

.previewImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.previewNavPrev,
.previewNavNext {
  position: unset;
  margin: 10px 0 !important;
  height: 20px;
  color: black;
  -webkit-tap-highlight-color: transparent;
}

.previewNavPrev {
  transform: rotate(90deg);
}

.mainSlider {
  position: relative;
  display: flex;
  width: 700px;
}

.mainSlide {
  width: 520px;
}

.mainNavPrev,
.mainNavNext {
  color: black;
  height: 25px;
  pointer-events: visible;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1200px) {
  .productSlider {
    gap: 20px;
  }

  .mainSlider {
    width: 500px;
  }
}

@media (max-width: 992px) {
  .previewSlider {
    display: none;
  }

  .mainSlider {
    width: 100vw;
  }

  .mainNavPrev,
  .mainNavNext {
    display: none;
  }
  .mainSlide {
    width: 100%;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 479px) {
}
