.topInfo {
  color: white;
  width: 100vw;
  background-color: var(--templatePurple);
  padding: 5px 0;
  font-size: 1.9em;
  text-align: center;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 30px;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  color: var(--templatePurple);
  font-size: 2.2em;
  font-weight: bold;
}

.categoriesList {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.categoriesList > li {
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header {
    font-size: 0.9em;
    gap: 20px;
  }

  .logo {
    font-size: 2em;
  }
}

@media (max-width: 992px) {
  .topInfo {
    font-size: 1.5em;
  }

  .logo {
    font-size: 1.6em;
  }

  .categories {
    display: none;
  }

  .header {
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .logo {
    font-size: 1.5em;
  }
}

@media (max-width: 479px) {
  .header {
    padding: 10px 5px;
    gap: 10px;
  }

  .title {
    gap: 4px;
  }
}
