.navbarToggler {
  border: 1px solid #bcafc9;
  border-radius: 12px;
  transition: border-color 0.2s ease-out;
}

.navbarToggler:hover {
  border-color: white;
}

@media (max-width: 767px) {
  .navbarToggler {
    border: 0;
  }
}
